<h1>Sign Up</h1>

<% if @user.errors.full_messages %>
  <% @user.errors.full_messages.each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>
<div class="wrapper">
  <div class="sm-form-wrapper">
    <%= form_for @user do |f| %>
      <div class="form-group">
        <%= f.label :name, "Username" %><br>
        <%= f.text_field :name, class:"form-control" %><br>
      </div>
      <div class="form-group">
        <%= f.label :dob, "Date of Birth" %><br>
        <%= f.date_field :dob, class:"form-control"  %><br>
      </div>
      <div class="form-group">
        <%= f.label :password %><br>
        <%= f.password_field :password, class:'form-control' %><br>
      </div>
      <%= f.submit "Sign up", class:"btn btn-primary" %>
    <% end %>
  </div>
</div>
