<p class = "padding">


<div class="container">

<h1>Statistics</h1>

<label>Highest Rated Property Manager: </label><br>
<h2><%= PropertyManager.highest_rated %></h2><br><hr>
<label>Lowest Rated Property Manager: </label><br>
<h2> <%= PropertyManager.lowest_rated %></h2><br><hr>
<label>Most Leases: </label><br>
<h2><%= PropertyManager.most_leases %></h2><br><hr>
<label>Highest Rated in Brooklyn: </label><br>
<h2><%= PropertyManager.highest_per_brooklyn %></h2><br><hr>
<label>Highest Rated in Staten Island: </label><br>
<h2><%= PropertyManager.highest_per_si %></h2><br><hr>
<label>Highest Rated in Queens: </label><br>
<h2><%= PropertyManager.highest_per_queens %></h2><br><hr>
<label>Highest Rated in Manhattan: </label><br>
<h2><%= PropertyManager.highest_per_manhattan %></h2><br><hr>

</div>
</p>
