


<div class="wrapper">
  <div class="wrapper">
    <h1>Statistics</h1>

    <label>Highest Rated Property Manager: </label><br>
    <h2><%= link_to PropertyManager.highest_rated, PropertyManager.get_link(PropertyManager.highest_rated) %></h2><br><hr>
    <label>Lowest Rated Property Manager: </label><br>
    <h2> <%= link_to PropertyManager.lowest_rated, PropertyManager.get_link(PropertyManager.lowest_rated) %></h2><br><hr>
    <label>Most Leases: </label><br>
    <h2><%= link_to PropertyManager.most_leases, PropertyManager.get_link(PropertyManager.most_leases) %></h2><br><hr>
    <label>Highest Rated in Brooklyn: </label><br>
    <h2><%= link_to PropertyManager.highest_per_brooklyn, PropertyManager.get_link(PropertyManager.highest_per_brooklyn) %></h2><br><hr>
    <label>Highest Rated in Staten Island: </label><br>
    <h2><%= link_to PropertyManager.highest_per_si, PropertyManager.get_link(PropertyManager.highest_per_si) %></h2><br><hr>
    <label>Highest Rated in Queens: </label><br>
    <h2><%= link_to PropertyManager.highest_per_queens, PropertyManager.get_link(PropertyManager.highest_per_queens) %></h2><br><hr>
    <label>Highest Rated in Manhattan: </label><br>
    <h2><%= link_to PropertyManager.highest_per_manhattan, PropertyManager.get_link(PropertyManager.highest_per_manhattan) %></h2><br><hr>

  </div>

</div>
