

<h1><%= link_to @propertymanager.name, property_manager_path(@propertymanager) %></h1>
<table class="table">
  <tr>
    <th>Niceness</th>
    <th>Response Time</th>
    <th>Accessibility</th>
    <th>Value</th>
    <th>Review</th>
    <th>Building</th>
    <th>User Name</th>
  </tr>
  <%  @reviews.each do |review| %>
  <tr>
    <td><%= review.niceness %></td>
    <td><%= review.response_time %></td>
    <td><%= review.accessibility %></td>
    <td><%= review.value %></td>
    <td><%= review.content %></td>
    <td><%= review.lease.building.address %></td>
    <td><%= review.lease.user.name %></td>
  </tr>
  <% end %>
</table>
