<h1>Write A Review!</h1>

<% if @review.errors.full_messages %>
  <% @review.errors.full_messages.each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>


<%= form_for(@review) do |f| %>
<%= f.label :lease %><br>
<p><%= f.collection_select :lease_id, @user.leases, :id, :property_manager_building %><br></p>
<%= f.label :response_time %><br>
<p><%= f.select :response_time, (0..10) %><br></p>
<%= f.label :niceness %><br>
<p><%= f.select :niceness, (0..10) %><br></p>
<%= f.label :value %><br>
<p><%= f.select :value, (0..10) %><br></p>
<%= f.label :accessibility %><br>
<p><%= f.select :accessibility, (0..10) %><br></p>
<%= f.label :content, "Review" %><br>
<p><%= f.text_area :content %><br></p>
<%= f.submit %><br>
<% end %>
