<div class="wrapper wrapper-last">
  <h1>Your Review</h1>

  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Category</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tr>
      <th scope="row">Niceness</th>
      <td><%= @review.niceness %></td>
    </tr>
    <tr>
      <th scope="row">Value</th>
      <td><%= @review.value %></td>
    </tr>
    <tr>
      <th scope="row">Response Time</th>
      <td><%= @review.response_time %></td>
    </tr>
    <tr>
      <th scope="row">Accessibility</th>
      <td><%= @review.accessibility %></td>
    </tr>
    <tr>
      <th scope="row">Overall</th>
      <td><%= @review.rating %></td>
    </tr>
  </table>

  <h4>Review:</h4>

  <p><%= @review.content %></p>

  <div class="box">
    <%= link_to 'Edit Review', edit_review_path, class:"btn btn-sm btn-outline-info" %>
    <%= button_to 'Delete Review', @review, method: :delete, class:"btn btn-sm btn-outline-info" %>
    <%= link_to 'Home Page', user_path(@user), class:"btn btn-sm btn-outline-info" %>
  </div>
</div>
